<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Janelle Devaney: Portfolio</title>
</head>
<body>
    <%- include('partials/nav') %>
    <h2>GRC Cohort 23 Microjam</h2>
    <img src = "/images/microjam.png" alt = "A screenshot of the microgame I helped work on.">
    <p>A series of microgames the cohort I belong to has worked on. It's inspired by the WarioWare 
        series. Done with Butano and C++. I'll add more details to this later.</p>
    <a href = "https://github.com/Jaronie/microjam/tree/dev" target = "_blank" rel = "noopener">GitHub 
        Repository (dev branch)</a>
    <a href = "https://grc-cohort-23.github.io/microjam" target = "_blank" rel = "noopener">
        View demo</a>

    <h2>MultiVerses</h2>
    <img src = "/images/multiverses.png" alt = "The layout of MultiVerses.">
    <p>An application for storing poems. I supplied my SQL skills and got the backend running. Made 
        with <a href = "https://github.com/seadrahbe" target = "_blank" rel = "noopener">Seadrah</a> 
        and <a href = "https://github.com/onjamm" target = "_blank" rel = "noopener">Drew</a>.
    </p>
    <a href = "https://github.com/seadrahbe/multiverses" target = "_blank" rel = "noopener">GitHub 
        Repository</a>
    <a href = "http://164.92.68.7:3009" target = "_blank" rel = "noopener">
        View demo</a>

    <h2>Going the Distance (Capstone Project for AAS)</h2>
    <img src = "/images/goingthedistance.png" alt = "The layout of Going the Distance.">
    <p>Built for the Professional Disc Golf Association (PDGA), this capstone project delivers 
    travel data for tournament organizers, so they can attract sponsorships. I worked as product 
    owner and backend using SQL and PHP, collaborating in a team of 4 to design and implement the 
    solution.</p>
    <p>The GitHub repository for this is private.</p>
    <a href = "https://goingthedistance.greenriverdev.com" target = "_blank" rel = "noopener">
        View demo</a>

    <h2>Kaiju Pursuit!</h2>
    <img src = "/images/kaiju.png" alt = "A screenshot of Kaiju Pursuit!">
    <p>A challenging game where you play as a very familiar-looking but legally distinct giant monster. 
        The goal is to survive cars and other giant monsters chasing you down. I drew the enemy sprite 
        and refactored the code, as well as clearing enemy numbers after death. Done with Butano and C++.
        Made with <a href = "https://github.com/Jaronie" target = "_blank" rel = "noopener">Jaron 
        Bautista</a>.</p>
    <a href = "https://github.com/LadyGalatear/hot-pursuit" target = "_blank" rel = "noopener">GitHub 
        Repository</a>
    <a href = "https://ladygalatear.github.io/hot-pursuit" target = "_blank" rel = "noopener">
        View demo</a>

    <h2>Fetch Thy Oyster</h2>
    <img src = "/images/oyster.png" alt = "A screenshot of Fetch Thy Oyster.">
    <p>A simple game where you play as a hungry crab trying to catch oysters to eat. Beware of the 
        octopus! I drew the sprites and converted the music. Done with Butano and C++. Made with 
        <a href = "https://github.com/Jaronie" target = "_blank" rel = "noopener">Jaron 
        Bautista</a>.</p>
    <a href = "https://github.com/LadyGalatear/collectathon" target = "_blank" rel = "noopener">GitHub 
        Repository</a>
    <a href = "https://ladygalatear.github.io/collectathon" target = "_blank" rel = "noopener">
        View demo</a>

    <h2>Sticky Sphere</h2>
    <img src = "/images/sticky.png" alt = "A screenshot of Sticky Sphere.">
    <p>A silly little game demo I started working on last year. It's based loosely on Katamari Damacy. 
        Very preliminary. Done with JavaScript. As this is a solo project, this is entirely my work.</p>
    <a href = "https://github.com/LadyGalatear/StickySphere" target = "_blank" rel = "noopener">GitHub 
        Repository</a>
    <a href = "https://ladygalatear.github.io/StickySphere" target = "_blank" rel = 
        "noopener">View demo</a>
</body>
</html>